# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000
DATABASE_URL="postgresql://test:1234@localhost:5432/dgm?schema=public"

# required for docker-compose
POSTGRES_USER=test
POSTGRES_PASSWORD=1234
POSTGRES_DB=dgm